:root {
  --heading-font-family: "Codystar", cursive;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #f9627d;
  --secondary-color: #c65b7c;
  --background-color-1: #f8f7ff;
  --background-color-2: #ffeedd;
  --accent-color: #ffd8be;
}
body {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.logo {
  font-family: var(--heading-font-family);
  font-size: 32px;
  font-weight: 700;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 30px;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

.hero {
  background-color: var(--background-color-1);
  font-family: var(--default-font-family);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 2;
}

.hero h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 2;
  margin-bottom: 49px;
}

.hero p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 2;
}

.contact-button a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: var(--background-color-1);
  border: 1px solid transparent;
  background-color: var(--primary-color);
  padding: 18px 48px;
  border-radius: 4px;
}

.contact-button a:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: var(--background-color-1);
  transition: all 100ms ease-in-out;
}

.project-description {
  padding: 80px 60px;
}

.project-description h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 128px;
}

.project-description p {
  text-align: justify;
}

.project-button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: var(--background-color-1);
  padding: 15px 30px;
  border-radius: 4px;
}

.project-button:hover {
  color: var(--background-color-1);
  border: 1px solid var(--background-color-1);
  background-color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

.content-container {
  font-family: var(--default-font-family);
  padding: 160px 20px;
}

.content-container h1 {
  font-size: 60px;
  font-weight: 700px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-weight: 700px;
}

.content-container p {
  font-size: 16px;
  font-weight: 400px;
}

.content {
  margin: 30px;
}

.about-project-button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color-2);
  padding: 15px 30px;
  border-radius: 4px;
}

.about-project-button:hover {
  color: var(--background-color-2);
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.cv {
  background-color: var(--background-color-2);
  font-family: var(--default-font-family);
  text-align: center;
  padding: 60px 20px;
}

.cv h1 {
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.4;
}

.cv h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.cv p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
}

.cv-content h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: lighter;
  color: var(--secondary-color);
}

.cv-content h3 {
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
}

.cv-content p {
  font-size: 14px;
  margin-left: 20px;
}

.cv-content ul {
  font-size: 14px;
  list-style: circle;
}

.cv-skills {
  list-style: none !important;
}

.cv-content:hover {
  background-color: var(--background-color-1);
  border-radius: 6px;
  transition: all 100ms ease-in-out;
}

.cv-content-earlier-career {
  font-size: 14px;
  margin-left: 6px;
}
.cv-content-earlier-career h3 {
  font-size: 18px;
}

.contact {
  background-color: var(--background-color-1);
  font-family: var(--default-font-family);
  text-align: center;
  padding: 160px 20px;
}

.contact h1 {
  font-size: 60px;
  line-height: 2;
}

.contact h3 {
  font-size: 24px;
  line-height: 1.4;
}
.contact a {
  text-decoration: none;
  color: black;
}

.contact a:hover {
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

@media (max-width: 1197px) {
  .project-description h2 {
    line-height: 1.5;
  }
  .content-container h1 {
    font-size: 40px;
    line-height: 1.5;
  }
}

@media (max-width: 900px) {
  hero {
    padding: 80px 20px;
  }
  .hero h1 {
    font-size: 48px;
    line-height: 1.5;
  }
  .hero h2 {
    font-size: 18px;
    line-height: 1.5;
  }
  .hero p {
    font-size: 24px;
    line-height: 1.5;
  }

  .project-description h2 {
    font-size: 34px;
  }

  .project-description {
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 80px 20px;
  }
}
