:root {
  --heading-font-family: "Codystar", cursive;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #f9627d;
  --secondary-color: #c65b7c;
  --background-color-1: #f8f7ff;
  --background-color-2: #ffeedd;
  --accent-color: #ffd8be;
}
body {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-color: var(--background-color-1);
  font-family: var(--default-font-family);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
}

.hero h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 49px;
}

.hero p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
}

.contact-button a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: var(--background-color-1);
  border: 1px solid transparent;
  background-color: var(--primary-color);
  padding: 18px 48px;
  border-radius: 4px;
}

.contact-button a:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: var(--background-color-1);
}

.project-description {
  padding: 80px 60px;
}

.project-description h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 128px;
}

.project-description p {
  text-align: justify;
}

.project-button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: var(--background-color-1);
  padding: 15px 30px;
  border-radius: 4px;
}

.project-button:hover {
  color: var(--background-color-1);
  border: 1px solid var(--background-color-1);
  background-color: var(--primary-color);
}

@media (max-width: 1197px) {
  .project-description h2 {
    line-height: 1.5;
  }
}

@media (max-width: 900px) {
  hero {
    padding: 80px 20px;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero h2 {
    font-size: 18px;
    line-height: 2;
  }
  .hero p {
    font-size: 24px;
    line-height: 1.5;
  }

  .project-description h2 {
    font-size: 34px;
  }

  .project-description {
    text-align: center;
  }
}
